@font-face {
  font-family: "iconfont"; /* Project id 2416350 */
  src: url('iconfont.woff2?t=1641368221874') format('woff2'),
       url('iconfont.woff?t=1641368221874') format('woff'),
       url('iconfont.ttf?t=1641368221874') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icondaochu:before {
  content: "\e602";
}

.iconguanbi:before {
  content: "\e603";
}

